html, body {
    background-color: rgb(252, 252, 252);
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}
h1 {
    color: rgb(255, 255, 255);
}
a {
    color: white;
}
.flex_top{
    background-color: rgb(63, 46, 207);
    display: flex;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow:5px 5px 15px rgba(0, 0, 0, 0.3);
}

.flex_top > .logo_img {
    margin-top: 15px ;
}

/* Links for the top bar */
.flex_top > a {
    width: 0px;
    height: 0px;
    flex: 0 1 32px;
    margin-top: 32px;
    margin-left: 15px;
    padding: 0px;
    text-decoration: none;

}

.flex_top > a:hover {
    color: rgb(135, 127, 202);
}